body {
    background-color: burlywood;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;

}